doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Document
		link(rel="stylesheet", href="./assets/css/app.css")
	body 
		h1 Title 
		p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas debitis id amet ducimus soluta odit dicta iure obcaecati culpa facilis, eius odio dolorum! A voluptate laborum, iste commodi quia necessitatibus.
		img(src="./assets/imgs/cat.jpg", alt="картинка кота")
